body {
    font-family: Arial, sans-serif;
    background-color: #4d4c4c41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1.25em; /* 20px */
    overflow: hidden; 
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1.25em; /* 20px */
    box-shadow: 0 0.25em 0.5em rgb(249, 208, 82); /* 4px and 8px */
    width: 100%;
    max-width: 37.5em; /* 600px */
    max-height: 90vh; 
    border-radius: 0.5em; /* 8px */
    text-align: left; 
    overflow-y: auto; 
    margin: auto;
}

.card h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    font-size: 2.25em; /* 36px */
    color: #935b9e; 
}

.card p {
    margin: 0.3125em 0; /* 5px */
}

.card p:first-of-type {
    margin-top: 0; 
}

.card .section-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1.25em; /* 20px */
    color: #facf53; 
    font-size: 1.125em; /* 18px */
}

.card .IT {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5%;
    font-size: 1.25em; /* 20px */
    color: #e4803e;
}

.card ul, .card ol {
    padding-left: 1.25em; /* 20px */
    list-style-type: none;
}

.card ul.social-links {
    display: flex;
    padding-top: 0.625em; /* 10px */
}

.card ul.social-links li {
    margin-right: 0.625em; /* 10px */
}

.card ul.social-links li a {
    font-size: 1.5em; /* 24px */
    color: #0C3B6D;
    text-decoration: none;
}

.card ul.social-links li a:hover {
    color: #00B4D9;
}

.email-link {
    color: #e4803e; 
    text-decoration: none; 
}

.email-link:hover {
    color: #facf53; 
    text-decoration: underline; 
}

.email-link:focus {
    outline: 0.125em solid #935b9e; /* 2px */
}

/* Media Query pour masquer certaines sections */
@media (max-width: 37.5em) { /* 600px */
    .card {
        padding: 0.9375em; /* 15px */
    }
    .card h1 {
        font-size: 1.25em; /* 20px */
    }
    .card p {
        font-size: 0.875em; /* 14px */
    }
    
    /* Masquer les sections si l'écran est petit */
    .section-title, ol, ul {
        display: none;
    }
}

